---
import Header from "../layouts/Header.astro";
import Layout from "../layouts/Layout.astro";
import VitalExperience from "../organisms/VitalExperience.astro";
import ContactSection from "../organisms/ContactSection.astro";
import AboutMe from "../organisms/AboutMe.astro";
import HeroSection from "../organisms/HeroSection.astro";
import SocialLinksSection from "../organisms/SocialLinksSection.astro";
import FixedActionButtons from "../components/FixedActionButtons.tsx";
import HoobieBullets from "../components/HoobieBullets.astro";
import CalendarIcon from "../../public/images/calendarIcon";
import InsightsSection from "../organisms/InsightsSection.astro";
import UserReviewsSection from "../organisms/UserReviewsSection.astro";

const bookLeasonUrl = "https://calendly.com/nexolabs/consultoria-uno-a-uno";
---

<Layout
  title="Jay Faris - US English Teacher"
  description="Learn US English with Jay Faris. Personalized lessons and resources for all levels."
>
  <Header>
    <a
      class="hover:font-bold hover:text-accentColor duration-200 flex items-center gap-2"
      href={bookLeasonUrl}
      target="_blank"
    >
      <CalendarIcon className="w-5 pb-1" />
      <span>Book a lesson</span>
    </a>
    <a
      class="hover:font-bold hover:text-accentColor duration-200"
      href="#about-me">About Me</a
    >
    <a
      class="hover:font-bold hover:text-accentColor duration-200"
      href="#vitalExperience">Experience</a
    >
    <a
      class="hover:font-bold hover:text-accentColor duration-200"
      href="#contact">Contact me</a
    >
  </Header>

  <main class="flex flex-col gap-[5rem] md:gap-[8rem]">
    <div class="w-full flex flex-col gap-10">
      <HeroSection />
      <SocialLinksSection />
    </div>
    <AboutMe />
    <InsightsSection />
    <HoobieBullets />
    <VitalExperience />
    <UserReviewsSection />
    <ContactSection />
    <FixedActionButtons client:load />
  </main>

  <footer class="border-t px-6">
    <div class="w-full mx-auto py-10 text-sm text-gray-500 text-center">
      <a href="https://mogamihub.xyz" target="_blank">
        &#169; 2024 Design by Mónica Galán
      </a>
    </div>
  </footer>
</Layout>
