---
import Header from "../layouts/Header.astro";
import Layout from "../layouts/Layout.astro";
import VitalExperience from "../organisms/VitalExperience.astro";
import SkillsSection from "../organisms/SkillsSection.astro";
import ContactSection from "../organisms/ContactSection.astro";
import LaboralExperience from "../organisms/LaboralExperience.astro";
import AboutMe from "../organisms/AboutMe.astro";
import HeroSection from "../organisms/HeroSection.astro";
import SocialLinksSection from "../organisms/SocialLinksSection.astro";
import FixedActionButtons from "../components/FixedActionButtons.tsx";
import HoobieBullets from "../components/HoobieBullets.astro";

const bookLeasonUrl = "https://calendly.com/nexolabs/consultoria-uno-a-uno"

---

<Layout
  title="Jay Faris - US English Teacher"
  description="Learn US English with Jay Faris. Personalized lessons and resources for all levels."
>
  <Header>
    <a class="hover:font-bold duration-200" href={bookLeasonUrl} target="_blank">Book a lesson</a>
    <a class="hover:font-bold duration-200" href="#experience">Experience</a>
    <a class="hover:font-bold duration-200" href="#contact">Contact me</a>
  </Header>

  <main>
    <HeroSection />
    <HoobieBullets />
    <SocialLinksSection />
    <AboutMe />
    <VitalExperience />
    <SkillsSection />
    <LaboralExperience />
    <ContactSection />
    <FixedActionButtons client:load />
  </main>

  <footer class="border-t px-6">
    <div class="w-full mx-auto py-10 text-sm opacity-80">
      <a href="https://mogamihub.xyz" target="_blank">
          &#169; 2024 Design by Mónica Galán
      </a>
    </div>
  </footer>
</Layout>
