---
import React from "react";
import * as motion from "motion/react-client";
import SectionWrapper from "../components/SectionWrapper.astro";
import HobbieBullet from "./HobbieBullet";
import MarkQuoteIcon from "../../public/images/markQuoteIcon";

const imgFolder = "images/illustrations/";
---

<SectionWrapper
  id="hobbie"
  class="grid grid-cols-1 md:grid-cols-2 gap-8 lg:gap-[6rem]"
>
  <div>
    <div class="relative p-5 h-auto flex flex-col gap-6">
      <MarkQuoteIcon className="absolute top-0 left-0 -z-10 w-20 text-white" />
      <p class="font-main text-4xl leading-[3.5rem] italic text-gray-500">
        己を知り、己に勝つ。七転び八起きの精神を胸に、真の武士は己の道を歩む
      </p>
      <p class="leading-8 text-gray-800">
        Know yourself and overcome yourself. Bearing in your heart the spirit of
        falling seven times and rising eight, the true warrior follows his own
        path.
      </p>
      <MarkQuoteIcon
        className="absolute bottom-0 right-0 -z-10 w-20 text-white rotate-180"
      />
    </div>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-x-8 gap-y-6 px-5 mx-auto">
    <HobbieBullet
      title="Creative Arts & Film"
      description="Passionate about storytelling through film production — including writing, acting, directing, and editing."
      urlImage={imgFolder + "Film.svg"}
      altImage="Illustration of a film clapboard in red and blue."
      client:load
    />
    <HobbieBullet
      title="Martial Arts & Movement"
      description="Dedicated to internal martial arts, stage combat, and basic stunt work."
      urlImage={imgFolder + "/Ninja.svg"}
      altImage="Illustration of a ninja dressed in red and blue performing a high kick."
    />
    <HobbieBullet
      title="Japanese Language"
      description="Lifelong learner of Japanese, fascinated by both the language and the culture."
      urlImage={imgFolder + "/Japan.svg"}
      altImage="Illustration of a red circle featuring the word 'Japan', accompanied by sushi and chopsticks."
    />
    <HobbieBullet
      title="Sports & Fitness"
      description="Basketball and gymnastics keep me active and balanced."
      urlImage={imgFolder + "/Sport.svg"}
      altImage="Illustration of a basketball in red and blue."
    />
  </div>
</SectionWrapper>
