<div id="logo">
  <svg
    width="50"
    height="50"
    viewBox="0 0 503 455"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g clip-path="url(#clip0_45_2)">
      <path
        d="M251.45 92.9C250.86 92.68 250.26 92.46 249.67 92.24C246.93 91.21 242.49 92.15 241.38 88.49L240.72 1.95L131.91 1.49L130.63 197.05L1.52002 201.08C0.330019 205.36 56.01 255.5 62.93 265.36C73.53 280.44 65.01 296.95 86.82 313.92C91.81 317.81 122.19 334.38 127.29 334.25C147.97 333.75 138.19 302.41 171.7 300.1C217.01 296.98 222.45 328.78 243.16 358.13C245.61 361.6 248.47 365.02 251.45 368.4V92.9Z"
        fill="#161179"></path>
      <path
        d="M420.42 109.61C402.99 107.79 384.51 121.09 372.06 120.27C364.29 119.76 353.68 113.47 344.42 112.37C333.61 111.09 327.69 111.84 315.8 110C294.56 106.72 250.86 92.67 251.45 92.89V213.89H492.93C487.91 204.95 481.89 196.13 477.47 187.38L477.72 124.09C455.28 131.78 442.03 111.86 420.42 109.61Z"
        fill="white"></path>
      <path
        d="M498.79 225.88C497.19 221.86 495.16 217.86 492.93 213.9H251.45V368.42C251.51 368.45 266.36 384.03 271.19 392.69C275.47 400.36 279.96 425.43 286.19 430.79C290.61 434.59 356.65 454.81 360.5 453.06C343.47 412.86 346.62 379.33 386.86 354.6C420.75 333.77 427.82 341.74 456.34 304.86C463.32 295.83 482.82 298.99 492.75 301.85L493.78 302.13C490.1 277.76 507.86 248.71 498.78 225.9L498.79 225.88Z"
        fill="#D61E1B"></path>
      <path
        d="M493.78 302.11C490.1 277.74 507.86 248.69 498.78 225.88C493.57 212.79 483.85 200.01 477.46 187.39L477.71 124.1C455.27 131.79 442.02 111.87 420.41 109.62C402.98 107.8 384.5 121.1 372.05 120.28C364.28 119.77 353.67 113.48 344.41 112.38C333.6 111.1 327.68 111.85 315.79 110.01C294.55 106.73 269.89 99.88 249.66 92.24C246.92 91.21 242.48 92.15 241.37 88.49L240.71 1.95L131.9 1.49L130.62 197.05L1.52002 201.08C0.330019 205.36 56.01 255.5 62.93 265.36C73.53 280.44 65.01 296.95 86.82 313.92C91.81 317.81 122.19 334.38 127.29 334.25C147.97 333.75 138.19 302.41 171.7 300.1C217.01 296.98 222.45 328.78 243.16 358.13C251.6 370.1 264.96 381.51 271.19 392.67C275.47 400.34 279.96 425.41 286.19 430.77C290.61 434.57 356.65 454.79 360.5 453.04C343.47 412.84 346.62 379.31 386.86 354.58C420.75 333.75 427.82 341.72 456.34 304.84C463.32 295.81 482.82 298.97 492.75 301.83L493.78 302.11Z"
        stroke="#161179"
        stroke-width="10"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
      <path
        d="M190.24 153.4L201.73 188.77H238.93L208.84 210.64L220.33 246.01L190.24 224.15L160.14 246.01L171.64 210.64L141.54 188.77H178.74L190.24 153.4Z"
        fill="white"></path>
    </g>
    <defs>
      <clipPath id="clip0_45_2">
        <rect width="502.9" height="454.65" fill="white"></rect>
      </clipPath>
    </defs>
  </svg>
</div>
