---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"section"> {
  backgroundClassname?: string;
  id?: string;
}

const { class: innerDivClass, id, backgroundClassname, ...rest } = Astro.props;
---

<section
  id={id}
  class:list={["w-full justify-self-center", backgroundClassname]}
  {...rest}
>
  <div class:list={["mx-auto max-w-screen-xl px-4 w-full", innerDivClass]}>
    <slot />
  </div>
</section>
