---
import TitleSection from "../components/TitleSection.tsx";
import SectionWrapper from "../components/SectionWrapper.astro";
---

<div class="w-full">
  <SectionWrapper id="about-me" data-scroll="seccion2">
    <TitleSection client:load text="As a teacher" />
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 sm:gap-10 items-center">
      <div class="mx-auto">
        <img
          src="images/BlackboardJaris.png"
          alt="profile image"
          class="w-full max-w-[600px]"
        />
      </div>
      <div class="px-4 lg:px-0">
        <p>
          I am a third generation teacher from the state of Texas. That is to
          say my grandfather was a teacher; my father is a teacher and I am a
          teacher. And we were all licensed in the state of Texas.
          <br /><br />My degree is in Theater and licenses are in Theater and
          History. However, because my family owns and operates its own school I
          have had the opportunity to teach various subjects. Among them were
          Drafting and Computer Aided Drafting, Reading, Writing, History (World
          and U.S.), Geography, Theater and Basic Japanese.
          <br /><br />I have also taught English as a Second Language (ESL) in
          my family school and also in various schools in Tokyo.
        </p>
      </div>
    </div>
  </SectionWrapper>
</div>
