---
import ContactForm from "../components/ContactForm";
import SectionDescription from "../components/SectionDescription";
import TitleSection from "../components/TitleSection";
import SectionWrapper from "../components/SectionWrapper.astro";
import { EMAIL_ADDRESS, EMAIL_URL } from "../constants/urls";
---

<SectionWrapper
  id="contact"
  class="flex flex-col gap-10"
  data-scroll="seccion4"
>
  <TitleSection client:load text="Contact with me" />
  <div class="grid md:grid-cols-3 gap-14 grid-cols-1">
    <div class="md:col-span-2 col-span-1">
      <ContactForm client:load />
    </div>
    <div class="flex flex-col gap-8 mb-14">
      <SectionDescription title="mail" description={EMAIL_ADDRESS} link={EMAIL_URL} />
      <div class="w-full flex flex-col gap-2">
        <SectionDescription
          title="youtube"
          description="@f-techenglish295"
          link="https://www.youtube.com/@f-techenglish295"
        />
      </div>
    </div>
  </div>
</SectionWrapper>
