---
import ContactForm from "../components/ContactForm";
import SectionDescription from "../components/SectionDescription";
import TitleSection from "../components/TitleSection";
import SectionWrapper from "../components/SectionWrapper.astro";
---

<SectionWrapper
  id="contact"
  class="flex flex-col gap-10"
  data-scroll="seccion4"
  backgroundClassname="py-10"
>
  <TitleSection client:load text="contact with me" />
  <div class="grid md:grid-cols-3 gap-10 grid-cols-1">
    <div class="md:col-span-2 col-span-1">
      <ContactForm client:load />
    </div>
    <div class="flex flex-col gap-8">
      <SectionDescription
        title="mail"
        description="mogami.creative@gmail.com"
      />
      <div class="w-full flex flex-col gap-2">
        <SectionDescription
          title="youtube"
          description="@f-techenglish295"
          link="https://www.youtube.com/@f-techenglish295"
        />
      </div>
    </div>
  </div>
</SectionWrapper>
