---
import H4 from "../components/H4.tsx";
import H1 from "../components/H1.tsx";
import SectionWrapper from "../components/SectionWrapper.astro";
---

<div class="relative w-full bg-white mask-wave mask-cover mask-no-repeat">
  <SectionWrapper
    id="hero"
    class="min-h-[650px] flex flex-col lg:flex-row justify-center items-center lg:items-end items-top"
  >
    <div
      class="flex w-full h-full flex-col pt-[6rem] sm:pt-8 lg:pb-6 gap-4 lg:max-w-[550px] px-6 lg:mb-5"
    >
      <div class="sm:mt-20 md:mt-35 flex flex-col">
        <H4 client:load>
          Texas <span class="text-black">·</span> English Teacher
        </H4>
        <H1
          client:load
          text="Hi, my name is Jay Faris"
          className="text-mainColor"
        />
      </div>
      <p>
        Well, I guess the best way to know me is to check out my
        <a
          href="https://www.youtube.com/@f-techenglish295"
          class="font-bold hover:underline duration-200 cursor-pointer"
          target="_blank">youtube channel</a
        >.<br /><br />
        And... I lived in Japan for eight years and I can speak the language fairly
        well. I have also traveled to Australia, Hong Kong and Korea. Traveling is
        something I like to talk about, but really I like to talk about anything,
        from politics to cooking or anything in between. I like to let my students
        come up with the topics they want to talk about.<br /><br />
      </p>
    </div>
    <div class="w-full max-w-[450px] lg:max-w-[650px]">
      <img src="images/jayfarisTransparentHeader.png" alt="Jay Faris smiling" />
    </div>
  </SectionWrapper>
</div>
