---
import HighlightedTitle from "../components/HighlightedTitle";
import SectionWrapper from "../components/SectionWrapper.astro";
---

<SectionWrapper
    id="sintetic"
    class="flex md:flex-row sm:flex-col justify-center gap-10 flex-wrap"
    backgroundClassname="py-10"
>
    <HighlightedTitle client:load title="Experience" subtitle="3ยบ Generation of Teachers" />
    <div class="border-r hidden md:block border-gray-300 w-3"></div>
    <HighlightedTitle
        client:load
        title="Students"
        subtitle="273"
    />
    <div class="border-r hidden md:block border-gray-300 w-3"></div>
    <HighlightedTitle
        client:load
        title="Leasons"
        subtitle="2860"
    />
</SectionWrapper>
