---
import HighlightedTitle from "../components/HighlightedTitle";
import SectionWrapper from "../components/SectionWrapper.astro";
---

<SectionWrapper
  id="sintetic"
  class="flex flex-col sm:flex-row justify-center items-center gap-12 flex-wrap px-6"
>
  <HighlightedTitle
    client:load
    title="3º Generation"
    subtitle="of Teachers"
    className="text-gray-800"
  />
  <p class="font-main text-3xl text-opacityAccentColor">✦</p>
  <HighlightedTitle client:load title="273" subtitle="Students" />
  <p class="font-main text-3xl text-opacityAccentColor">✦</p>
  <HighlightedTitle client:load title="2860" subtitle="Lessons" />
</SectionWrapper>
