---
import HighlightedTitle from "../components/HighlightedTitle";
---

<section
    id="sintetic"
    class="w-full mx-auto flex md:flex-row sm:flex-col justify-center gap-10 px-8 flex-wrap"
>
    <HighlightedTitle client:load title="Experience" subtitle="3ยบ Generation of Teachers" />
    <div class="border-r hidden md:block border-gray-300 w-3"></div>
    <HighlightedTitle
        client:load
        title="Students"
        subtitle="273"
    />
    <div class="border-r hidden md:block border-gray-300 w-3"></div>
    <HighlightedTitle
        client:load
        title="Leasons"
        subtitle="2860"
    />
</section>
