---
import HighlightedTitle from "../components/HighlightedTitle";
import SectionWrapper from "../components/SectionWrapper.astro";
---

<SectionWrapper
  id="sintetic"
  class="flex md:flex-row sm:flex-col justify-center gap-10 flex-wrap"
>
  <HighlightedTitle
    client:load
    title="3ยบ Generation"
    subtitle="of Teachers"
  />
  <div class="border-r hidden md:block border-gray-300 w-3"></div>
  <HighlightedTitle client:load title="273" subtitle="Students" />
  <div class="border-r hidden md:block border-gray-300 w-3"></div>
  <HighlightedTitle client:load title="2860" subtitle="Lessons" />
</SectionWrapper>
