---
import Bullets from "../components/Bullets.astro";
import Tag from "../components/Tag";
import TitleSymbol from "../components/TitleSymbol.astro";
import SectionWrapper from "../components/SectionWrapper.astro";
---

<SectionWrapper
  id="skills"
  class="flex flex-col gap-10"
  data-scroll="seccion6"
>
  <div class="flex flex-col gap-6">
    <TitleSymbol>Hard skills</TitleSymbol>
    <div class="flex gap-x-10 gap-y-8 flex-wrap">
      <Bullets title="Teaching Languages">
        <Tag client:load text="English" variant="gray" />
      </Bullets>
      <Bullets title="Speaking Languages">
        <Tag client:load text="Japanese" variant="gray" />
        <Tag client:load text="Polish" variant="gray" />
      </Bullets>
      <Bullets title="Learning Languages">
        <Tag client:load text="MVVM" variant="gray" />
        <Tag client:load text="MVC" variant="gray" />
      </Bullets>
      <Bullets title="Tools & Technologies">
        <Tag client:load text="Figma" variant="gray" />
        <Tag client:load text="RESTful APIs" variant="gray" />
        <Tag client:load text="Postman" variant="gray" />
        <Tag client:load text="Git" variant="gray" />
      </Bullets>
      <Bullets title="Methodologies">
        <Tag client:load text="Design Thinking" variant="gray" />
        <Tag client:load text="Atomic Design" variant="gray" />
        <Tag client:load text="Mobile First" variant="gray" />
        <Tag client:load text="Agile" variant="gray" />
      </Bullets>
    </div>
  </div>
</SectionWrapper>
