---
import SectionWrapper from "../components/SectionWrapper.astro";
import SocialIcon from "../components/SocialIcon";
import { socialMedia } from "../data/social"
---
<SectionWrapper id="social-links" class="w-full">
  <div
    class="max-w-fit mx-auto flex justify-center items-center flex-wrap gap-x-2 gap-y-1 sm:gap-x-4"
  >
    {
      socialMedia.map(({ label, icon, href }, i) => (
        <SocialIcon
          label={label}
          iconSrc={icon}
          href={href}
          delay={i * 0.25}
          client:load
        />
      ))
    }
  </div>
</SectionWrapper>
