---
import TitleSection from "../components/TitleSection";
import SectionWrapper from "../components/SectionWrapper.astro";
import MapPinCard from "../components/MapPinCard";
import { mapPinCards } from "../data/mapPinCards";
---

<SectionWrapper id="vitalExperience" data-scroll="seccion1">
  <TitleSection client:load text="My vital experience" />
  <div class="overflow-x-auto snap-x snap-mandatory">
    <div class="flex gap-20 min-w-max py-8 relative">
      {
        mapPinCards.map((card) => (
          <MapPinCard
            client:load
            title={card.title}
            description={card.description}
            date={card.date}
            rotate={card.rotate}
          />
        ))
      }
      <svg
        viewBox="0 0 1502 31"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="absolute left-0 right-0 top-1/2 -translate-y-1/2 w-full h-[31px] -z-10 pointer-events-none"
        preserveAspectRatio="none"
      >
        <path
          d="M1501.2 12.6831L1487.95 14.3439C1460.31 17.9411 1403.22 25.1354 1346.55 27.541C1290.21 29.8567 1233.12 27.6085 1176.45 20.3467C1161.33 18.4334 1146.15 16.1589 1130.94 13.8797C1089.49 7.66875 1047.81 1.42338 1006.35 2.36085C973.76 3.0501 940.919 8.15487 908.055 13.2632C884.103 16.9862 860.14 20.711 836.252 22.7298C779.906 27.6085 722.816 22.6623 666.152 16.7494C661.354 16.2383 656.551 15.7186 651.743 15.1984C600.087 9.60846 547.891 3.96009 496.051 8.34108C473.697 10.2766 451.227 14.0627 428.712 17.8562C394.474 23.6249 360.135 29.4108 325.951 28.7326C294.723 28.1096 263.267 21.893 231.781 15.6707C206.455 10.6657 181.111 5.65706 155.85 3.55238C99.5047 -1.16891 42.4148 8.27368 14.1356 13.1524L1.20166 15.3343"
          stroke="#C5C5C5"
          stroke-width="4"
          stroke-dasharray="20 10"
        />
      </svg>
    </div>
  </div>
</SectionWrapper>
