---
import TitleSection from "../components/TitleSection";
import SectionWrapper from "../components/SectionWrapper.astro";
import MapPinCard from "../components/MapPinCard";
import { mapPinCards } from "../data/mapPinCards";
---

<SectionWrapper id="vitalExperience" data-scroll="seccion1">
  <TitleSection client:load text="My vital experience" />
  <div class="overflow-x-auto snap-x snap-mandatory">
    <div class="flex gap-10 min-w-max py-8">
      {
        mapPinCards.map((card) => (
          <MapPinCard
            client:load
            title={card.title}
            description={card.description}
            date={card.date}
            rotate={card.rotate}
          />
        ))
      }
    </div>
  </div>
</SectionWrapper>
