---
interface Props {
  title: string;
  description: string;
}

const { title } = Astro.props;
const { description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/images/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kirang+Haerang&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>

  <style is:global>
    html {
      font-family: "Nunito", system-ui, sans-serif;
      scroll-behavior: smooth;
      animation: ease-in;
      animation-duration: 1000ms;
      background-color: #fbf6e9;
    }

    body {
      display: flex;
      justify-content: center;
      flex-direction: column;
      font-size: 1.1rem;
      line-height: 2;
    }

    .ignore-wrapper {
      @apply relative left-1/2 -translate-x-1/2 w-screen max-w-none;
    }
  </style>

  <script
    is:inline
    src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"
  ></script>
</html>
